body{
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #5FB404;
}
.quem-somos {
    background-color: #8181f7;
    color: white;
}
.parceiros {
    background-color: #58faf4;
    color: white;
}
.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}
.bg-footer {
    background-color: black;
    color: white;
}